{% extend xml_protocol/base.html %}

{% block body %}
	<merchandises>
		{% for merchandise in merchandises %}
		<merchandise name="{{merchandise.name}}" id="{{merchandise.id}}">
			<ean>{{merchandise.ean}}</ean>
			{% if merchandise.ordinary_price != None %}<ordinary_price type="decimal">{{merchandise.ordinary_price}}</ordinary_price>{% endif %}
			{% if merchandise.internal_price != None %}<internal_price type="deciaml">{{merchanfise.internal_price}}</internal_price>{% endif %}
			<tags type="string">{{merchandise.tags_as_csv}}</tags>
		</merchandise>
		{% endfor %}
	</merchandises>
{% endblock %}
